{
	"project_id": "test1",
	"zone": "europe",
        "source_image_family": "reddit-test",
        "machine_type": "f1-micro",
	"disk_size": "10",
	"disk_type": "pd-standard",
	"network": "default",
	"tags": "puma"
}
